body {
  margin: 0;
  background-color: rgb(6, 6, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.iphone {
  position: relative;
  width: 300px;
  height: 650px;
  background-color: white;
  border-radius: 45px;
  border: 8px solid rgb(10, 10, 1);
  box-shadow: 0 0 200px rgb(193, 149, 149);
  overflow: hidden;
}

.dynamic-island {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 96px;
  height: 24px;
  background-color: black;
  border-radius: 12px;
}

.home-bar {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 5px;
  background-color: black;
  border-radius: 3px;
}

.display {
  color: black;
  text-align: right;
  font-size: 55px;
  padding: 20px 10px;
  margin-top: 100px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 68px);
  gap: 5px;
  justify-content: center;
}

.btn {
  height: 70px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.lightGrey {
  background-color: lightgrey;
}

.darkGrey {
  background-color: darkgray;
}

.orange {
  background-color: orange;
}

.zero {
  grid-column: span 2;
  border-radius: 35px;
}

.credit {
  bottom: 25px;
  width: 100%;
  text-align: center;
  font-size: 110px;
  color: #777;
}

