body {
  margin: 0;
  background: #060606;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.iphone {
  position: relative;
  width: 320px;
  height: 680px;
  background: white;
  border-radius: 45px;
  border: 8px solid #0a0a01;
  box-shadow: 0 0 200px rgb(193, 149, 149);
  overflow: hidden;
}

.dynamic-island {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 26px;
  background: black;
  border-radius: 13px;
}

.home-bar {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 5px;
  background: black;
  border-radius: 3px;
}

.display {
  margin-top: 95px;
  padding: 20px;
  font-size: 56px;
  text-align: right;
  color: black;
}

/* BUTTON GRID */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  padding: 18px;
}

/* BUTTON */
.btn {
  height: 72px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.lightGrey {
  background: #d4d4d2;
}

.darkGrey {
  background: #505050;
  color: white;
}

.orange {
  background: #ff9500;
  color: white;
}

.zero {
  grid-column: span 2;
  border-radius: 40px;
  text-align: left;
  padding-left: 30px;
}

.credit {
  position: absolute;
  bottom: 22px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #888;
  opacity: 0.6;
}
